name: Upload documentation

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'actix/book'

    steps:
      - uses: actions/checkout@master

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable-x86_64-unknown-linux-gnu
          profile: minimal
          override: true

      - name: Upload documentation
        run: |
          cargo install mdbook --no-default-features --version 0.4.1
          mdbook build ./actix/ -d ../target/doc/actix
          cp -r ./target/doc/actix/html/* ./target/doc/actix/
          rm -r ./target/doc/actix/html ./target/doc/actix/linkcheck

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.5.8
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: target/doc
